$grey: #F0EFEF;
$grey-darker: #A7A7A7;
$green: #DEFDD0;
$red: #FCC5C5;
$black: #333333;
$labRoomWidth: 200px;
$labRoomHeight: 300px;

.team-room {
  flex-direction: column;
  border: 1px solid $grey-darker;
  border-radius: 5px;
  color: $black;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  margin: 2.5% auto;
  text-align: center;
  width: 75%;

  &.empty {
    background-color: $green;
  }

  &.full {
    background-color: $red;
  }

  &.labbie {
    background-color: $grey;
  }
}

.lab-room {
  align-content: center;
  background-color: $grey;
  border-radius: 5px;
  bottom: 0;
  color: $black;
  display: flex;
  flex-direction: column;
  height: $labRoomHeight;
  justify-content: center;
  left: calc(50% - (#{$labRoomWidth} / 2));
  position: absolute;
  width: $labRoomWidth;

  @media (max-width: 767px) {
    display: none;
  }
}
