ssedev.se.rit.edu {
  tls tech@sse.rit.edu
  root ./dist/
  rewrite {
    if {path} not_match \/api/.*
    if {file} not_match (.*\.js|.*\.html|.*\.css)
    to /index.html
  }

  proxy /api {
    upstream back:5000
    without /api
  }

}
